/* Color site: https://encycolorpedia.com/6441a4?fbclid=IwAR021abc4RpdOybIJFU87JlqVUmd0TqRC-AUvw3O0y2s6ozYFRHj9CQlZv0 */
:root {
  --primary-color: #6441a4;
  --secondary-color: #9a7dc3;
  --text-color: #17111e;
}

button,
input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  border: 0;
  padding: 1em;
  font-size: 1.2em;
}